<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
         header{
            background-color: violet;
            height: 2rem;
        }
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            list-style: none;
        }
    </style>
</head>
<body>

    <header >
        <nav>
            <ul>
                <li><a href="/add-product">add product</a></li>
                <li><a href="/">shop</a></li>
                <li><a href="/contactus">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <form class='form' action="/contactus" method="POST">
        <div>Name</div>
        <input type="text" name="title">
        <div>Email</div>
        <input type="text">
        <button type="submit">Contact us</button>
    </form>
    
</body>
</html>