.profile{
  width: 30rem;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
   border-radius: 10px;
   padding: 0.5rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 0.8rem;
 }
 .parent-profile-container{
   display: flex;
   justify-content: center;
   margin-top: 2rem;
 }
 
 
  
  label {
    font-weight: bold;
    color: #464646;
    margin: 0.5rem;
  }
  
   input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
   input:focus {
    outline: none;
    border-color: #4f005f;
    background: #f6dbfc;
  }
  

  
  .actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .2rem;
  }
  
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }


