body{
    background-image: url('https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?w=2000');
}

.label{
    color: white;
}
.main-cont{
    border: 2px solid yellowgreen;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
}
.cont{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:25rem;
}
.small-section{
    width: 90%;
    margin: 10px;
}

.itag{
    width: 75%;
    height: 1.6rem;
}
.btn{
    width: 75%;
    margin-right: 3rem;
    height: 2rem;
    cursor: pointer;
    background-color: yellowgreen;
    color: white;
}
hr{
    width: 90%;
    margin-right: 5rem;
}