.footer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  color: white;
  background-color: #8a2b06;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  bottom: 0px;
}