.product-container{
    margin-top: 1.2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    width: 18rem;
    height: 20rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.btn-price-container{
display: flex;
gap: 5rem;
}
.card img{
    width: 13rem;
    height: 13rem;
}
