.cart-container{
    position: relative;
    margin-top: 2.5rem;
    display:flex ;
    justify-content: center;
    align-items: center;
}


.title {
  display: flex;
}
.title img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

table,
th,
td {
  border: 1px solid black;
  color: black;
}
.input-btn-container input {
    width: 2rem;
    margin: 5px;
    height: 1.3rem;
    outline: none;
    border: 2px solid aqua;
    border-radius: 5px;
}
.input-btn-container button {
    width: 6rem;
    height: 1.8rem;
    margin: 5px;
    outline: none;
    border: 2px solid aqua;
    border-radius: 5px;
    background-color: rgb(129, 144, 167);
    color: white;
}
